
.contact-form-section {
  padding: 64px;
  background-color: var(--primary-color);
  background-color: hsl(357, 44%, 48%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  align-items: center;
}

.contact-form-section h2 {
  font-size: 88px;
  font-family: var(--playfair-display);
  font-weight: 600;
  line-height: 123px;
  color: #fff;
  text-align: center;
}

.contact-form-section p {
  font-size: 18px;
  font-family: var(--plus-jakarta-sans);
  font-weight: 300;
  line-height: 36px;
  margin-top: 32px;
  color: rgba(255, 255, 255, 0.8);
}

.contact-content {
  display: flex;
  align-items: center;
  justify-content: center; /* Add this line to horizontally center the content */
  margin-top: 40px;
}

.address {
  flex: 1;
  text-align: left;
  margin-left: 100px;
  margin-bottom: 70px;
}

.contact-form {
  flex: 1;
  padding: 24px;
  text-align: center;
  margin-bottom: 20px;
}

.contact-form input {
  font-size: 22px;
  font-weight: 500;
  font-family: var(--plus-jakarta-sans);
  color: #fff;
  background: transparent;
  border: none;
  outline: none;
  width: 450px;
  margin-bottom: 16px;
  border-bottom: 1px solid #fff;
  margin-top: 20px;
}
.contact-form input::placeholder {
  color: #ffffff6f;
}


.contact-form button {
  padding: 14px 36px;
  font-size: 24px;
  font-weight: 500;
  font-family: var(--plus-jakarta-sans);
  color: #fff8f8;
  text-align: center;
  background: var(--primary-color);
  border-radius: 26px;
  border: none;
  outline: none;
  cursor: pointer;
}
.contact-form button:hover {
  background: var(--black-200);
}
